body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login-bg {
    background-image: url(./img/fondo1.jpg);   
}
.login{
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    margin: 0 auto;
    background: #edebfd73;
    width: 260px;
    padding-left: 50px;
    padding-right: 50px;
}
.logo-bm{
    width: 220px;
    height: 220px;
    align-self: center;
}
.login label{
    font-family: 'Merienda', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.login input{
    background: #FFFFFF;
    border-radius: 2px;
    line-height: 25px;
    margin-bottom: 12px;
} 
a{
    align-self: flex-end;
    line-height: 25px;
    margin-bottom: 12px;
    color: #100BFF;
}
.login button{
    border: 3px solid #ffffff;
    height: 42px;
    color: #ffffff;
    background: #3897F0;
    font-size: 14px;
    font-family:'Merienda', cursive;
}