body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page1{
    height: 100vh;
    display: flex;
    align-items: center;
}
.login-bg {
    background-image: url(./img/fondo1.jpg);   
}
.login{
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    background: #edebfdc9;
    width: 260px;
    padding: 50px 40px;
}
.logo-bm{
    width: 220px;
    align-self: center;
    margin-bottom: 20px;
}
.login label{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}
.login input{
    background: #FFFFFF;
    border: none;
    border-radius: 2px;
    line-height: 25px;
    margin-bottom: 12px;
} 
.login a{
    align-self: flex-end;
    line-height: 25px;
    margin: 12px 0px ;
    color: #100BFF;
}
.login button{
    border: 3px solid #ffffff;
    height: 42px;
    color: #ffffff;
    background: #3897F0;
    font-size: 14px;
}
.banner{
    width: 1000px;
    margin: 30px auto;
    background: #ffffff;
}
.banner ul{
    list-style: none;
}
.menu >li{
    display: inline-block;
} 
.hide{
	display:none;
}